# data analysis
numpy
pandas
faker
# visualisation
matplotlib
seaborn
plotly
bokeh
# machine learning
scikit-learn
scipy
xgboost
# deep learning
tensorflow
# NLP
nltk
wordcloud
spacy
# Time series
yfinance
statmodels
# web scrapping
beautifulsoup4
lxml
requests
# utility
jupyter
ipykernel
flask